<div id="header">
	<h1>What do your Instagram colors say about you?</h1>
	
	 <%= text_area_tag(:formstyle, "@", :autocomplete => 'off', :autofocus =>'on', :onfocus =>"this.setSelectionRange(1,1)") %> 
	<div id="errorMessage"></div>
</div>

<div id="picContainer"></div>
