<!DOCTYPE html>
<html>
<head>
  	<title>Instacolor</title>
  	<meta name="viewport" content="width=device-width">
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tag %>
	<meta property="og:url" content="http://instacolor.herokuapp.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Instacolor" />
	<meta property="og:description" content="Your description" />
	<meta property="og:image" content="http://instacolor.herokuapp.com/favicon.ico" />
</head>

<body>
    <div id="root"></div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
